*{
    margin: 0;
    padding: 0;
}
table{
    border-collapse:collapse;
}
td{
    padding-left: 10px;
    border: 1px rgb(216, 216, 216) solid;
    width: 600px;
    
}
.grey{
    background-color: rgb(236, 236, 236);
}
